main {
	font-family: Garamond;
		   width: 90%;
		   height: 4rem;
		   padding: 6rem;
       	margin-right: auto;
	      margin-left: 5%; 
		   margin-right: 5%;
         align-items: center;
} 

header h1,p{text-align: center; } 

.carousel-slide {
   margin-top: 40%; 
   margin-left: 5%;
   margin-right: 5%; 
   align-self: center;
   padding: 10%;

}



.d-block w-100 {
   padding: 10%;
   align-items: center;
}



.carousel-inner {
   align-self: center;
   height: 10%;
   width: 20%;
   padding: 3%;

}

h3 {
   text-shadow: 2px 2px grey;

}


.active {

}

.carousel-item {
   margin-top: 20%;
   margin-right: 5%;
   margin-left: 5%;
   align-self: center;
   height: 20%;
   width: 30%;
   object-fit: cover;

}


.carousel-control-prev-icon {

}

.sr-only {

}

.carousel-control-left {


}

.carousel-control-right {
   
}
